.card-section{
    .card{
        height: auto;
        overflow: hidden;
        margin: 14px 0px;
        img{
            width: 100%;
            height: 230px;
            object-fit:contain;
            object-position: center;
            padding: 10px;
        }
        .card-body{
          
        }
    }
}